<h1>Sugerencias de Markov</h1>

<form class="example-form" [formGroup]="wordForm">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Palabra</mat-label>
    <textarea type="text" placeholder="Pick one" aria-label="Number" (ngModelChange)="getPredictWord($event)" matInput formControlName="word"></textarea>
    <mat-error *ngIf="wordForm.controls.word.hasError('required')">La palabra a sugerir es <strong>obligatoria</strong></mat-error>
  </mat-form-field>
</form>

<main *ngIf="suggested_words">
  <div *ngFor="let word of suggested_words">
    <button color="accent" mat-raised-button type="submit" (click)="addWordToInput(word)">
      {{ word }}
    </button>
  </div>
</main>

<p>{{ input_chain }}</p>
